@using HairSalon.Models;

<div id="navBar">
<form action="/search" method="get">

<label for="search">Search stylists</label>
<input type="text" name="search">
<input type="submit" value="Search" class="btn btn-info">

</form>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
     <li role="presentation"><a href="/clients">Clients</a></li>
      <li role="presentation"><a href="/stylists">Stylists</a></li>
  </ul>


</div>